<html>
    <head>
        <style>
            table {width:100%;margin-top:20px;}
            th {border-bottom:solid;border-color:#800000;}
            h4 {font-weight:bold;color:#800000}
            hr {border-color:#800000}
            .container {width:735px; padding:20px;}
			.clear {clear:both;}
			.logo {width:350px;}
            .box {width:350px;}
            .left {float:left;}
            .right {float:right;}
            .text-center {text-align:center;}
            .text-left {text-align:left;}
            .text-right {text-align:right;}
            .text-top {vertical-align:text-top;}
            .services-table {min-height:200px;padding-top:20px;border-bottom:solid;border-color:#800000;}
			.long_cell {width:80%;}
			.short_cell {width:20%;}
            .strong {font-weight:bold;color:#800000;}
        </style>
    </head>
    <body class="container">
        {% if own_company.logo_url %}
			<div class="left logo"><img src="{{ own_company.logo_url }}" title="logo" class="logo" /></div>
        {% endif %}

		<div class="box right">
			<table class="text-right">
				<tr>
					<td>Fecha:</td>
					<td>{{ invoice.createdAt|date("d/m/Y") }}</td>
				</tr>
				<tr>
					<td>Nº de Factura:</td>
					<td>{{ invoice.reference }}</td>
				</tr>
			</table>
		</div>

		<br class="clear"/>
		<br class="clear"/>

        <div>
            <div class="box left">
                <h4>{{ own_company.name }}</h4>
				<hr>
				<table>
					<tr>
						<td class="strong">CIF</td>
						<td>{{ own_company.tax_code }}</td>
					</tr>
					<tr>
						<td class="strong">Email</td>
						<td>{{ own_company.email }}</td>
					</tr>
					<tr>
						<td class="strong">Teléfono</td>
						<td>{{ own_company.phone }}</td>
					</tr>
					<tr>
						<td class="strong text-top">Dirección</td>
						<td>
							{{ own_company.address }}<br/>
							{{ own_company.zip_code }} - {{ own_company.city }}<br/>
							{{ own_company.province }} ({{ own_company.country }})
						</td>
					</tr>
				</table>
            </div>

            <div class="box right">
                <h4 class="text-left">{{ invoice.company.name }}</h4>
				<hr>
				<table>
					<tr>
						<td class="strong">CIF</td>
						<td>{{ invoice.company.taxCode }}</td>
					</tr>
					<tr>
						<td class="strong">Email</td>
						<td>{{ invoice.company.email }}</td>
					</tr>
					<tr>
						<td class="strong">Teléfono</td>
						<td>{{ invoice.company.phone }}</td>
					</tr>
					<tr>
						<td class="strong text-top">Dirección</td>
						<td>{{ invoice.company.address }}<br/>
							{{ invoice.company.zipCode }} - {{ invoice.company.city }}<br/>
							{{ invoice.company.province.name }} ({{ invoice.company.country.name }})
						</td>
					</tr>
				</table>
            </div>
        </div> <!-- / end client details section -->

		<br class="clear"/>
		<br class="clear"/>

        <table class="services-table">
            <thead>
                <tr>
                    <th class="text-left long_cell"><h4>Servicio</h4></th>
                    <th class="text-right short_cell"><h4>Importe</h4></th>
                </tr>
            </thead>
            <tbody>
            {% set counter = 0 %}
            {% for invoiceDetail in invoice.invoiceDetails %}
                {% if 'outlay' != invoiceDetail.type %}
                    <tr class="text-top">
                        <td class="text-left">{{ invoiceDetail.description }}</td>
                        <td class="text-right">{{ invoiceDetail.amount }} {{ currency }}</td>
                    </tr>
                    {% set counter = counter + 1 %}
                {% endif %}
            {% endfor %}
            {% for i in 1..10-counter %}
                <tr><td colspan="2">&nbsp;</td></tr>
            {% endfor %}
            </tbody>
        </table>

        <table class="box right text-right">
            <tr>
                <td class="strong">Base Imponible:</td>
                <td>{{ invoice_totals.taxable }} {{ currency }}</td>
            </tr>
            <tr>
                <td class="strong">IVA:</td>
                <td>{{ invoice_totals.vat }} {{ currency }}</td>
            </tr>
            <tr>
                <td class="strong">IRPF:</td>
                <td>{{ invoice_totals.taxes }} {{ currency }}</td>
            </tr>
            {% if invoice_totals.outlays %}
                <tr>
                    <td class="strong">Suplidos:</td>
                    <td>{{ invoice_totals.outlays }} {{ currency }}</td>
                </tr>
            {% endif %}
            <tr class="strong">
                <td>Total:</td>
                <td>{{ invoice_totals.total }} {{ currency }}</td>
            </tr>
        </table>

		<br class="clear"/>
		<br class="clear"/>
		<br class="clear"/>
		<br class="clear"/>
		<br class="clear"/>
		<br class="clear"/>
		<br class="clear"/>

		<div class="text-center strong">Número cuenta bancaria de ingreso: {{ bank_account.iban }}</div>
		{% if invoice.dueDate %}
			<div class="text-center strong">Fecha de vencimiento: {{ invoice.dueDate|date("d/m/Y") }}</div>
		{% endif %}
    </body>
</html>