{% extends 'CrmAppBundle:Shared:layout.html.twig' %}

{% block title %}Invoices{% if current_page > 1 %} - Page {{ current_page }}{% endif %}{% endblock %}

{% block body %}

	<div class="page-header">
		<h1>Invoices</h1>
	</div>

    <h3>Filtering:</h3>
    <form method="post">
        <input type="text" name="date" value="{{ filters.date }}" placeholder="Create at" />
		Is Paid? <select name="is_paid">
			<option value=""  {% if filters.is_paid == "" %}selected="selected"{% endif %}>--</option>
			<option value="0" {% if filters.is_paid == "0" %}selected="selected"{% endif %}>NO</option>
			<option value="1" {% if filters.is_paid == "1" %}selected="selected"{% endif %}>YES</option>
		</select>
        <input type="submit" />
    </form>

	<table class="table table-stripped table-hover">
		<thead>
		<tr>
            <th>#Ref</th>
            <th>Company</th>
            <th>Incomings</th>
            <th>Expenses</th>
			<th>Outlays</th>
			<th>Due date</th>
            <th>Is paid?</th>
            <th>Created By</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{% for invoice in invoices %}
            <tr>
                <td>{{ invoice.reference }}</td>
                <td><a href="{{ url('crm_app_company_show', {'id':invoice.company.id}) }}" title="Show company">{{ invoice.company.name }}</a></td>
                <td>{{ invoice.totalTaxable }}</td>
                <td>{{ invoice.totalExpenses }}</td>
                <td>{{ invoice.totalOutlays }}</td>
                <td>{{ invoice.dueDate|date("d/m/Y") }}</td>
                <td>{% if invoice.isPaid %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                <td>{{ invoice.user.username }}</td>
                <td>
                    <a href="{{ url('crm_app_invoice_download', {'id':invoice.id, 'id_company':invoice.company.id}) }}" title="Download invoice PDF">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </a>
                    <a href="{{ url('crm_app_invoice_show', {'id':invoice.id, 'id_company':invoice.company.id}) }}" title="Show invoice">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a href="{{ url('crm_app_invoice_edit', {'id':invoice.id, 'id_company':invoice.company.id}) }}" title="Edit invoice">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{{ url('crm_app_invoice_delete', {'id':invoice.id, 'id_company':invoice.company.id}) }}" title="Delete invoice" onclick="return confirm('Are you sure?')">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9"><span class="label label-success">Yipee!</span> It seems that you don't have any invoice to list!</td>
            </tr>
		{% endfor %}
		</tbody>
	</table>

    {% include 'CrmAppBundle:Shared:pagination.html.twig' with {'base_route': 'crm_app_invoice_list'} %}

{% endblock %}